### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# IntelliJ IDEA
.idea/
*.iml


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/build/

# Ignore build and NetBeans project files
build.xml
manifest.xml
nbproject/

# Ignore everything by default
*

# Except src folder and .gitignore itself
!.gitignore
!src/
!src/**/*
